{% extends 'base.html.twig' %}

{% block title %}
	<h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}
	<div class="row py-2">
		<div class="col-12">
			<a href="{{ path('task_new') }}" class="btn btn-success">Créer une nouvelle tâche</a>
			<a href="{{ path('task_index', {'done': false}) }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
			<a href="{{ path('task_index', {'done': true}) }}" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
		</div>
	</div>
{% endblock %}