{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block hero_section %}
    {% include 'components/hero_section.html.twig' %}
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    
    <h1 class="h3 my-2 font-weight-normal">Créer un compte :</h1>
    
    {% include 'user/_form.html.twig' %}

{% endblock %}
