<form class="ajax-submit" onsubmit="return confirm('Cette tâche sera supprimée. Continuer?')"
      action="{{ path('task_delete', {'id' : task.id }) }}">
    <button class="btn text-danger"><span class="fa fa-trash"></span></button>
</form>