<div class="col-12 col-sm-6 col-md-4 mb-3">
	<div class="card task-miniature {% if task.isDone %}isDone{% endif %}">
		<div class="card-header">
			<h4>{{ task.title }}</h4>
			<small class="text-muted">Ajoutée
				le {{ task.createdAt|format_date('long', locale='fr') }}</small>
		</div>
		<div class="card-body">
			{{ task.content }}
		</div>
		<div class="card-footer d-flex justify-content-end bg-white border-0">
				<a href="{{ path('task_toggle', {'id': task.id}) }}" class="toggle-done-btn">
					<span class="fa fa-{% if task.isDone %}times{% else %}check{% endif%}"></span>
					&nbsp;Marquer comme{% if not task.isDone %} non{% endif%} terminée
				</a>
		</div>
	</div>
</div>

