@import "variables";

.task-miniature {
  height: 100%;

  .card-header {
    min-height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @extend .alert-warning;
  }

  .card-actions {
    padding: 0 $card-spacer-x;
  }

  .toggle-done-btn {
    width: 100%;

    @extend .btn;
  }

  &.todo {
    .toggle-done-btn {
      @extend .btn-outline-warning;
    }
  }

  &.isDone {
    .card-header {
      @extend .alert-success;
    }

    .toggle-done-btn {
      @extend .text-danger;
    }
  }
}