@import 'components/variables';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'components/bootstrap-overrides';
@import 'components/commons';
@import 'components/task';
@import 'components/loader';

.noscript {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  background: rgba(0,0,0,0.9);
  z-index:9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
