<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}To Do List app{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<noscript>
    <div class="noscript">
        <div class="noscript-alert alert alert-danger">
            Vous devez activer javascript pour utiliser cette application
        </div>
    </div>
</noscript>
{% if is_granted('ROLE_ADMIN') %}
    {% include 'admin/admin-bar.html.twig' %}
{% endif %}
{% block navbar %}
    {% include 'navbar/navbar.html.twig' %}
{% endblock %}
{% block messages %}
    {% include 'components/messages.html.twig' %}
{% endblock %}
<!-- Page Content -->
<div class="container">
    {% block hero_section %}{% endblock %}
    {% block header_title %}{% endblock %}
    {% block body %}{% endblock %}
</div>
<!-- /.container -->

{% block footer %}
    {% include 'components/footer.html.twig' %}
{% endblock %}
{{ encore_entry_script_tags('app') }}
{% block scripts %}{% endblock %}
</body>
</html>
