<div class="row">
    <div class="col-12">
        {% block header_img %}
            <img class="img-fluid w-100" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">
        {% endblock %}
    </div>
</div>

